In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd . read_csv('./planeprice.csv')
df = df . fillna(0)
df = df . dropna()
df

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0
3,7 AC Champ,Piston,85,88,78.0,37.0,19,620,500.0,850.0,"1,300",800,21/5,35/0,210,1300000.0
4,100 Darter (S.L. Industries),Piston,65,83,74.0,33.0,14,370,632.0,885.0,"1,220",740,21/5,35/0,175,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,500 A,Propjet,1000,351,334.0,0.0,3819,"3,242",1930.0,2280.0,"12,050","7,856",43/5,47/8,"1,879",4100000.0
513,100 Darter (S.L. Industries),Propjet,720,312,288.0,89.0,578,"2,380",2280.0,3043.0,"11,200","6,837",43/5,47/8,"1,722",3584000.0
514,520,Propjet,720,290,275.0,87.0,390,"2,236",3230.0,3017.0,"11,200","6,389",43/5,47/8,"1,515",3200000.0
515,2180,Propjet,620,275,270.0,77.0,382,"1,750",2940.0,2446.0,"9,474","5,164",36/8,42/8,"1,336",3240000.0
516,2150A Kachina,Propjet,620,283,269.0,75.0,382,"2,710",1980.0,2480.0,"9,000","5,018",34/8,42/8,"1,444",3160000.0

In [4]:
df.shape

(517, 16)

In [5]:
#  تا این جا 517 تا داده دازیم با 16 تا ستون

#  محسوب میشود lable  است که  price  ستون اخر 

# هستند feature  ستون های دیگر

In [6]:
df['Price'] .value_counts()

Price
4500000.0    27
2500000.0    23
2000000.0    23
4100000.0    20
1600000.0    13
             ..
1940000.0     1
3584000.0     1
3200000.0     1
3240000.0     1
3160000.0     1
Name: count, Length: 178, dtype: int64

In [7]:
# مثلا از کلاس 4500000 ، 27 تا نمونه داریم

#  کلا 178 تا کلاس از نمونه های مختلف داریم

In [8]:
x = df . drop( 'Price' , axis = 1)
y = df['Price']

In [9]:
x

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210
3,7 AC Champ,Piston,85,88,78.0,37.0,19,620,500.0,850.0,"1,300",800,21/5,35/0,210
4,100 Darter (S.L. Industries),Piston,65,83,74.0,33.0,14,370,632.0,885.0,"1,220",740,21/5,35/0,175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,500 A,Propjet,1000,351,334.0,0.0,3819,"3,242",1930.0,2280.0,"12,050","7,856",43/5,47/8,"1,879"
513,100 Darter (S.L. Industries),Propjet,720,312,288.0,89.0,578,"2,380",2280.0,3043.0,"11,200","6,837",43/5,47/8,"1,722"
514,520,Propjet,720,290,275.0,87.0,390,"2,236",3230.0,3017.0,"11,200","6,389",43/5,47/8,"1,515"
515,2180,Propjet,620,275,270.0,77.0,382,"1,750",2940.0,2446.0,"9,474","5,164",36/8,42/8,"1,336"
516,2150A Kachina,Propjet,620,283,269.0,75.0,382,"2,710",1980.0,2480.0,"9,000","5,018",34/8,42/8,"1,444"

In [10]:
y

0      1300000.0
1      1230000.0
2      1600000.0
3      1300000.0
4      1250000.0
         ...
512    4100000.0
513    3584000.0
514    3200000.0
515    3240000.0
516    3160000.0
Name: Price, Length: 517, dtype: float64

In [11]:
x = np.array (x)
y = np.array (y)

In [12]:
x

array([['100 Darter (S.L. Industries)', 'Piston', '145', ..., '25/3',
        '37/5', '370'],
       ['7 CCM Champ', 'Piston', '85', ..., '20/7', '36/1', '190'],
       ['100 Darter (S.L. Industries)', 'Piston', '90', ..., '21/5',
        '35/0', '210'],
       ...,
       ['520', 'Propjet', '720', ..., '43/5', '47/8', '1,515'],
       ['2180', 'Propjet', '620', ..., '36/8', '42/8', '1,336'],
       ['2150A Kachina', 'Propjet', '620', ..., '34/8', '42/8', '1,444']],
      dtype=object)

In [13]:
y

array([1300000., 1230000., 1600000., 1300000., 1250000., 1100000.,
       2500000., 2800000., 2500000., 3000000., 3010000., 2120000.,
             0., 1450000.,       0., 1450000., 1400000., 1150000.,
       1025000.,  850000.,  700000., 1730000., 1600000., 1350000.,
       1200000., 1600000., 1700000., 1810000., 1700000., 1700000.,
       1600000., 1200000., 1550000.,  850000., 1740000., 1380000.,
       1265000., 1265000., 1275000., 1375000., 1500000., 2000000.,
       1500000., 1500000., 2500000.,       0.,  800000., 3480000.,
       3500000., 3500000., 3500000., 3288000., 2485000., 2485000.,
       2590000., 3045000., 2980200., 2762000., 3000000., 2810000.,
       2720000., 3020000., 2840000., 2680000., 2680000., 2680000.,
       2850000., 2800000., 3000000., 3130000., 2700000., 3000000.,
       3080000., 3130000., 2030000., 2140000., 2300000., 2050000.,
       2950000., 2950000., 2000000., 2000000., 2000000., 1900000.,
       2500000., 2500000., 2500000., 2500000., 2500000., 2068800.,
       1860000., 3220000., 3220000., 1910000., 2090000., 1930000.,
       1970000., 1950000., 1920000., 1810000., 1810000., 1810000.,
       1965000., 2500000., 2500000., 1850000., 1660000., 1600000.,
       2950000., 1785800., 1750000., 2660000., 1750000., 1830000.,
       1920000., 2000000., 2130000., 1980000., 1900000., 1800000.,
       1710000., 1800000., 1660000., 1830000., 1785800., 1830000.,
       1780000., 1830000., 1830000., 1840000., 1980000., 1538500.,
       1434200., 1435000., 1485000., 1260000., 1187000., 1187000.,
       1350000., 1165000., 1490000., 1290000., 2400000., 1820000.,
       2400000., 2000000., 1700000., 2100000., 2250000., 2000000.,
       2150000., 1950000., 5100000., 5100000., 4100000., 4100000.,
       4500000., 4500000., 4500000., 4500000., 4790000., 4880000.,
       5100000., 4500000., 4500000., 4500000., 4500000., 4500000.,
       4500000., 4500000., 4500000., 4500000., 4100000., 4100000.,
       5100000., 5100000., 5100000., 5100000., 5100000.,       0.,
       4500000.,       0.,       0., 4300000., 4300000., 4300000.,
       4500000., 4100000., 4100000., 4100000., 4100000., 3500000.,
       3500000., 3340000., 3470000., 3020000., 3100000., 2600000.,
       2600000., 3080000., 3010000., 2600000., 2600000., 2690000.,
       2618000., 2618000., 2618000., 2980000., 2650000., 2680000.,
       2900000., 2810000., 2810000., 2740000., 2820000., 2860000.,
       1975000., 1950000., 1990000., 1990000., 2030000., 2110000.,
       2130000., 1950000., 2500000., 2000000., 2000000., 2930000.,
       3010000., 3010000., 3100000., 1630000., 1800000., 1930000.,
       1950000., 1950000., 2000000., 2050000., 1900000., 2500000.,
       2370000., 2500000., 2500000., 2300000., 2900000., 2700000.,
       2850000., 2850000., 3020000., 3130000., 1600000., 1730000.,
       1830000., 1990000., 2100000., 2030000., 2070000., 2600000.,
       1330000., 2560000., 2420000., 1390000., 1390000., 1390000.,
       1390000., 2350000., 1150000., 2700000., 2630000., 2630000.,
       1480000., 1480000., 1480000., 1670000., 2630000., 2700000.,
       1570000., 1480000., 1670000., 1610000., 1625000., 1600000.,
       1600000., 1600000., 1400000.,  780000.,  870000., 1110000.,
       1110000.,  650000.,  770000., 1570000., 1300000., 1610000.,
       1640000., 1790000., 1750000., 1690000., 1730000., 2000000.,
       1800000., 2000000., 2000000., 1810000., 1810000., 1490000.,
       1650000., 1770000., 1890000., 1890000., 1980000., 2010000.,
       1530000., 1600000., 1600000., 1470000., 1770000., 1960000.,
       2150000., 2120000., 1710000., 1690000., 1460000., 1460000.,
       1580000., 1270000., 1450000., 1590000., 1680000., 1700000.,
       1700000., 1400000., 1350000., 1300000., 1420000., 1310000.,
       1310000., 1550000., 1500000., 1200000., 1200000., 1200000.,
       1310000., 1310000., 1420000., 1510000., 1330000., 1550000.,
       1470000., 1400000., 1265000., 1400000., 1265000., 1265000.,
       1070000., 1265000., 1530000., 1530000., 1560000., 1510000.,
       1550000., 3100000., 2500000., 1800000., 1800000., 2500000.,
       1680000., 2500000., 1650000., 1740000., 2000000., 1505000.,
       1390000., 1700000., 1800000., 1800000., 4100000., 3900000.,
       4100000., 3900000., 4200000., 4200000., 4200000., 3700000.,
       3900000., 4500000., 4500000., 2670000., 2670000., 2430000.,
       1800000.,       0.,       0., 3100000., 3000000., 2500000.,
       2000000., 1600000., 1300000., 1100000., 4100000., 2150000.,
       1400000., 2220000., 3000000., 2220000., 2000000., 2990000.,
       2700000., 2990000., 3000000., 2700000., 2940000., 2700000.,
       2940000., 3140000., 2890000., 2990000., 3100000., 1400000.,
       1320000., 1320000., 5100000., 4500000., 4500000., 4500000.,
       4500000., 4500000., 4500000., 3000000., 4100000., 4100000.,
       4100000., 4100000., 4500000., 4500000., 4500000., 4500000.,
       4000000., 1500000., 1500000., 1300000., 1350000.,  950000.,
       1350000., 2000000., 1470000., 1470000.,       0., 4300000.,
       1600000., 1550000., 1400000.,       0., 1300000., 1500000.,
       2000000., 2000000., 2000000., 1900000., 2000000., 1800000.,
       1500000., 1900000., 1800000., 1700000., 1200000., 2500000.,
       4100000., 4100000., 4100000., 2975000., 3350000., 3220000.,
       2960000., 3320000., 3080000., 2700000., 3040000., 2600000.,
       2500000., 2500000., 2500000., 2100000., 1930000., 2400000.,
       2000000., 2500000., 2800000., 1860000., 2400000., 1880000.,
       1880000., 2120000., 1700000., 1650000., 1950000., 1880000.,
       1720000., 1850000., 2000000., 1720000., 1360000., 1250000.,
       1730000., 1940000., 2150000., 2050000., 1660000., 1560000.,
       4100000., 3000000., 4100000., 3584000., 3200000., 3240000.,
       3160000.])

normalize

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler( )