In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv('./PlanePrice.csv')
df = df . fillna(0)
df = df . dropna()
df

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0
3,7 AC Champ,Piston,85,88,78.0,37.0,19,620,500.0,850.0,"1,300",800,21/5,35/0,210,1300000.0
4,100 Darter (S.L. Industries),Piston,65,83,74.0,33.0,14,370,632.0,885.0,"1,220",740,21/5,35/0,175,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,500 A,Propjet,1000,351,334.0,0.0,3819,"3,242",1930.0,2280.0,"12,050","7,856",43/5,47/8,"1,879",4100000.0
513,100 Darter (S.L. Industries),Propjet,720,312,288.0,89.0,578,"2,380",2280.0,3043.0,"11,200","6,837",43/5,47/8,"1,722",3584000.0
514,520,Propjet,720,290,275.0,87.0,390,"2,236",3230.0,3017.0,"11,200","6,389",43/5,47/8,"1,515",3200000.0
515,2180,Propjet,620,275,270.0,77.0,382,"1,750",2940.0,2446.0,"9,474","5,164",36/8,42/8,"1,336",3240000.0
516,2150A Kachina,Propjet,620,283,269.0,75.0,382,"2,710",1980.0,2480.0,"9,000","5,018",34/8,42/8,"1,444",3160000.0

In [92]:
df.shape

(517, 16)

In [93]:
#  تا این جا 517 تا داده دازیم با 16 تا ستون

#  محسوب میشود lable  است که  price  ستون اخر 

# هستند feature  ستون های دیگر

In [94]:
df['Price'] .value_counts()

Price
4500000.0    27
2500000.0    23
2000000.0    23
4100000.0    20
1600000.0    13
             ..
1940000.0     1
3584000.0     1
3200000.0     1
3240000.0     1
3160000.0     1
Name: count, Length: 178, dtype: int64

In [95]:
# مثلا از کلاس 4500000 ، 27 تا نمونه داریم

#  کلا 178 تا کلاس از نمونه های مختلف داریم

In [96]:
x = df . drop( 'Price' , axis = 1)
y = df['Price']

#  x  =>>>  features
#  y  =>>>  lable

lableEncoder  چون داده های کتگوری داریم باید قبل از نرمالایز کردن استفاده کنیم از

In [97]:
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('PlanePrice.csv')

encoder = LabelEncoder( )

for column in df . select_dtypes(include = ['object']) :
    df[column] = encoder . fit_transform(df[column])

normalize

In [98]:
from sklearn.preprocessing import  StandardScaler


x = df . drop( 'Price' , axis = 1)
y = df['Price']

scaler = StandardScaler( )
x = scaler . fit_transform(x)
x

array([[-0.83579838,  0.05287124, -1.1998014 , ..., -0.76671548,
         0.01914546, -0.24334455],
       [ 0.23947102,  0.05287124,  2.07090892, ..., -1.5328958 ,
        -0.33754661, -0.83479875],
       [-0.83579838,  0.05287124,  2.14201132, ..., -1.38391629,
        -0.69423869, -0.58456813],
       ...,
       [ 0.03516984,  2.00533048,  1.71539693, ...,  1.21258368,
         1.44591378, -1.28976353],
       [-0.22289482,  2.00533048,  1.35988494, ...,  0.89334188,
         0.70280528, -1.40350472],
       [-0.23364752,  2.00533048,  1.35988494, ...,  0.65923123,
         0.70280528, -1.35800824]])

In [99]:
# بلاخره نرمالایز شد  x  
#  :)

test_train

In [100]:
from sklearn.model_selection import train_test_split

x_train , x_test  , y_train , y_test = train_test_split(x , y , test_size = 0.2)

# بیست درصد داده ها را به عنوان تست در نظر میگیرم 
# هشتاد درصد داده ها را هم به عنوان ترین در نظر گرفتیم

In [101]:
x_test.shape , y_test.shape

((104, 15), (104,))

In [102]:
x_train.shape , y_train.shape

((413, 15), (413,))